body{
    background-color:#66D0FF;
    margin: 0;
}
#sun{
    border-radius: 100%;
    background-color: rgb(255, 221, 0);
    min-height: 100px;
    min-width: 100px;
    height: 20vh;
    width: 20vh;
    position: absolute;
    margin-top: 3vh;
    margin-left: 3vh;
}
.cloud {
    position: absolute;
	width: 350px; 
    height: 120px;
	background: white;
	border-radius: 100px;
	margin: 100px 0 0 100px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: white;
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}
#road{
    background-color: #232323;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    
}
.line-road{
    width: 100%;
    height: 10px;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-width: 6px;
    border-color: #dcdcdc;
    margin-top: 20px;
}

