body{
    background-color:#66D0FF;
    margin: 0;
}
#sun{
    border-radius: 10%;
    background-color: rgb(255, 221, 0);
    min-height: 50px;
    min-width: 50px;
    height: 20vh;
    width: 20vh;
    position: relative;
    margin: 3vh;
}
.cloud{ 
    margin-top:70px;
    margin: 30vh;
    width:350px;
    height:120px;
    background:#ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    float: left;

}.cloud::after, .cloud::before{
     content:"";
     position:relative;
     display:inline-block;
     background:inherit;
     border-radius:inherit;
 }
 .cloud::after{
     width:100px;
     height:100px;
     top:-220px;
     left:50px;
 }
 .cloud::before{
     width:180px;
     height:180px;
     top: -70px;
     left:130px;
 }
#road{
    background-color: #232323;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    
}
.line-road{
    width: 100%;
    height: 10px;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-width: 6px;
    border-color: white;
    margin-top: 20px;
}

#bus{
    position: absolute;
    width: 400px;
    height: 100px;
}