body{
    background-color:#66D0FF;
    margin: 0;
}
#sun{
    border-radius: 100%;
    background-color: rgb(255, 221, 0);
    min-height: 100px;
    min-width: 100px;
    height: 20vh;
    width: 20vh;
    position: absolute;
    margin-top: 3vh;
    margin-left: 3vh;
}
.cloud {
    position: absolute;
	width: 350px; 
    height: 120px;
	background: white;
	border-radius: 100px;
	margin: 100px 0 0 100px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: white;
}

.cloud:after {
	width: 100px; 
    height: 100px;
	top: -50px; 
    left: 50px;
	border-radius: 100px;
}

.cloud:before {
	width: 180px; 
    height: 180px;
	top: -90px; 
    right: 50px;
	border-radius: 200px;
}
#road{
    background-color: #232323;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    
}
.line-road{
    width: 100%;
    height: 10px;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-width: 6px;
    border-color: #dcdcdc;
    margin-top: 20px;
}

#bus{
    position: absolute;
    top: 45%;
    left: 30%;
    width: 600px;
    height: 200px;
    background-color: #FCD800;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 8%;    
}

#front{
    position: relative;
    float: left;
    left: -16%;
    height: 0;
	width: 40px;
	border-right: 0px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 200px solid #FCD800;
    border-bottom-left-radius: 10%;
}

#engine{
    position: relative;
    width: 55px;
    height: 100px;
    background-color: #FCD800;
    float: left;
    top: 50%;
    left: -40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 15px;
}

#frontGlass{
    position: relative;
    width: 0;
	height: 0;
	border-bottom: 100px solid #56887d;
	border-left: 55px solid transparent;
    border-bottom-right-radius: 20px;
	left: -41%;
    float: left;
}

.sideGlass{
    position: absolute;
    height: 100px;
    width: 50px;
    border-radius: 5px;
    background-color: #56887d;
    float: left;
}

#sD1{
    top: 2%;
    left: 5%;
}

#sD2{
    top: 2%;
    left: 15%;
}

#sD3{
    top: 2%;
    left: 25%;
}

#sD4{
    top: 2%;
    left: 35%;
}

#sD5{
    top: 2%;
    left: 45%;
}

#sD6{
    top: 2%;
    left: 55%;
}

#sD7{
    top: 2%;
    left: 65%;
}

#sD8{
    top: 2%;
    left: 75%;
}

#backGlass{
    position: absolute;
    height: 100px;
    width: 60px;
    border-radius: 5px;
    background-color: #56889f;
    float: left;
    top: 3%;
    left: 87%;
}

.tyre{
    position: relative;
    border-radius: 50%;
    background: #000000;
    height: 100px;
    width: 100px;
    float: left;
}

.rim{
    position: relative;
    border-radius: 50%;
    background-color: #676767;
    top: 15%;
    left: 15%;
    height: 70px;
    width: 70px;
}

.rimScrew {
    position: relative;
    background-color: #232323;
    border-radius: 50%;   
    height: 15px;
    width: 15px;
    float: left
}

.rS1 {
    top: 25%;
    left: 10%;
}

.rS2 {
    top: 8%;
    left: 23%;
}

.rS3 {
    top: 35%;
    left: 29%;
}

.rS4 {
    top: 65%;
    left: -5%;
}

.rS5 {
    top: 40%;
    left: 17%;
}

#leftWheel{
    top: 70%;
    left: -45%;
}

#rightWheel{
    top: 70%;
    left: 20%;
}